/* Body général */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #e0e0e0; 
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: #333; 
  color: white;
  padding: 20px 10px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

/* Footer */
footer {
  background-color: #555; 
  color: white;
  padding: 15px 10px;
  text-align: center;
  margin-top: auto;
}

/* Container Vue */
.container {
  width: 90%;
  max-width: 800px;
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  margin: 30px auto;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
}

/* Boutons */
button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background-color: #555; 
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333; 
}

/* Cadre description*/
.description-box {
  border: 2px solid #555; 
  padding: 15px;
  margin-top: 15px;
  background-color: #f0f0f0; 
  border-radius: 5px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .container {
    padding: 15px;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }
}
